<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <h2>Pig Latin: <%= @pig.to_pig_latin(@user_phrase)%></h2>
  </body>
</html>
